#inner-content form li{
	margin: 0 0 10px;
	float: none;
}
ul, li{
	padding: 0;
	margin: 0;
	list-style: none; 
}
label{
	display: block;
	cursor: pointer;
	margin: 0 0 2px;
}
form li div{
	float: left;
	margin:0 10px 0 0;
}

.form-content input[type="text"], input[type="password"]{
	border-radius: 5px;
}

.clear{
	clear: both;
	float: none;
}
.form-content{
	border: 1px dotted #444;
	padding: 10px;
	border-radius: 0 0 20px 20px;
	background: linear-gradient(#f0f0f6, #f6f6ff);
}
.form-content.header{
	border-bottom: 0;
	border-radius: 20px 20px 0 0;
	background: linear-gradient(#f6f6ff, #f0f0f6);
}
.form_content input[type="submit"]{
	margin-top: 10px;
	border-radius: 5px;
	border: 1px outset #666;
	background: #fff;
}