#inner-content{
	margin: auto;
	width: 80%;
}
#elmt-content{
	margin-bottom: 20px;
}
#materia-content{
	width: 700px;
	border: 1px solid #f4f4f4;
}
.materia{
	cursor: pointer;
	padding: 1px;
	font-style: none;
	font-weight: normal;
	font-size: 16px;
	border: 1px solid rgba(0,0,0,0);
}
.materia:hover{
	border: 1px solid #000;
	background: rgba(0,0,0,0.2);
}
.capa{
	margin-left: 25%;
	margin-top: 50px;
}
.fileBtn{
	height: 0;
	width: 0;
}
.materia.titulo, .materia.titulo input{
	font-weight: bold;
	font-family: sans-serif;
	font-size: 20px;
}
.materia.subtitulo, .materia.subtitulo input{
	font-family: sans-serif;
	font-style: italic;
	font-size: 18px;
}
.materia input[type='text']{
	background: rgba(0,0,0,0);
	border: 0;
	width: 90%
}
input[type="file"]{
	margin-bottom: 10px;
}
#tagInputDiv{
	margin-bottom: 10px;
}
.tagInput{
	width: 110px;
	font-size: 13px;
	text-align: center;
	padding: 3px;
}
.done{
	border-radius: 16px;
	background: #f77;
	color: white;
}
.done:hover{
	background: #f77;
	color: white;
}
.tagControls{
	border: 1px solid rgba(0, 0, 0, .4);
	border-radius: 100%;
	margin-left: 5px;
	text-align: center;
	font-size: 14px; 
	font-weight: bolder;
	color: white;
	cursor: pointer;
}
#tagAdd{
	background: #7c6;
}
input[value='Publicar'], 
input[value='Salvar como rascunho']{
	border: 1px solid rgba(0, 0, 0, .4);
	border-radius: 15px;
	padding: 5px 15px;
	color: white;
	font-weight: bolder;
}
input[value='Publicar']{
	background: #7c6;
}
input[value='Salvar como rascunho']{
	background: #c76;
}
.readyBtn{
	float: right;
	margin-right: -80px;
}
button{
	margin-left: 10px;
	padding: 1px 0;
}