body{
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
}
header{
	width: 100%;
}
.content{
	width: 980px;
	margin: auto;	
}
#top{
	width: 100%;
	clear: both;
}
.logo{
	width: 400px;
	height: 200px;
	float: left;
}
.login{
	margin-top: 130px;
	float: right;
	color: #fff;
}
.login form{
	text-align: right;
}
.login input[type=text], .login input[type=password]{
	margin-bottom: 2px;
	border-radius: 4px;
}
.login_btn{
	padding: 5px 10px;
	cursor: pointer;
	background: linear-gradient(#e50015, #850000);
	border: 0;
	border-radius: 15px;
	color: #fff;
}
.login_btn:hover{
	background: linear-gradient(#850000, #e50015);
}
#nav
{
	clear: both;
	width: 100%;
	height: 45px;	
	margin-top: 10px;
	font-weight: bold;
}
#inner-content{
	border-top: 5px double #000;
}
#bar{
	height: 5px;
	background: #df0010;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav ul li 
{
	padding: 0;
	float: left;
	position: relative;
	
}
#nav li ul 
{
	position: absolute;
	top: 40px;
	visibility: hidden;
	display: block;
}
#nav ul li a
{
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	color: #000;
	height: 30px;	
	padding: 8px 15px 2px 15px;
}
#nav li li a
{
	height: 40px;
	width: 130px;
}
#nav li:hover ul
{ 
	visibility: visible; 
	background: linear-gradient(#68e, #79f);	
}
#nav ul li:hover a
{
	color: #df0010;
}
#nav li:hover ul li a
{
	background: rgba(0, 0, 0, 0);
	color: #fff;
}
#nav li:hover li:hover a
{
	background: linear-gradient(#666, #fff);
	color: #000;
}
#inner-content
{
	width: 980px;
	margin: auto;
}
#arte
{
	width: 490px;
	margin-right: 5px;
	float: right;
	background: #00f;
	text-align: center;
}
#galeria{
	width: 980px;
	height: 300px;
	margin-top: 10px;
}
.main_img{
	width: 530px;
	height: 300px;
	float: left;
}
.img_slider{
	width: 530px;
	height: 300px;
}
#slide_bar{
	position: relative;
	transition: 1.5s;
	height: 100px;
	width: 5px;
	float: left;
	margin: 0 5px;
	background: #df0010;
	border-radius: 5px;
}
.slide_list{
	width: 430px;
	height: 300px;
	float: left;
	background: #fff;
}
.img_list{
	margin: 0;
	padding: 0;
	width: 430px;
	height: 92px;
	transition: 1s;
	padding: 4px;
}
.img_list p{
	font-size: 12px;
}
.img_list h3, .img_list a, .img_list p, .img_list h6{
	margin-top: 0;
	padding: 0;
	color: #fff;
}
#recent-post-list
{
	width: 600px;
	border-right: 1px solid #252525;
	margin: 5px;
}
#recent-post
{
	clear: both;
	width: 600px;
	border-top: 1px solid #252525;
}
#post-image
{
	height: 170px;
	width: 160px;
	margin-right: 15px;
	padding-top: 10px;
	float: left;
}
#post-description
{
	width: 405px;
	margin-right: 10px;
	float: right;
}
footer{
	clear: both;
	width: 100%;
}
.copy{
	background: #333;
	border-top: 5px solid #121212;
	color: #999;
	font-size: 12px;
	padding: 5px 0;
}