@font-face {
  font-family: "navFont";
  src: url(http://localhost/liberte/gladifilthefte.ttf);
}
body{
	padding: 0;
	margin: 0;
	background: url('http://localhost/Liberte/layoutImages/teste.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background: #dfdfdf;
	padding-bottom: 50px;
}
a{
	text-decoration: none;
	color: black;
}
input:focus{
	outline: none;
}
#actionBar{
	margin: auto;
	width: 990px;
	height: 70px;
	margin-top: 20px;
	border-bottom: 2px solid rgba(50, 50, 50, 0.4);
}
.escreverBtn{
	float: left;
}
#searchBox{
	float: left;
	margin-top: 30px;
	margin-left: 10px;
	height: 30px;
}
.searchBar{
	border: 1px solid #777;
	border-radius: 15px 0 0 15px;
	padding: 5px 5px 5px 10px;
	width: 300px;
	height: 30px;
}
#searchBtn{
	float: right;
	height: 26px;
	padding: 2px 10px 0 5px;
	background: white;
	border: 1px solid #777;
	border-radius: 0 15px 15px 0;	
	border-left: 0;
	cursor: pointer;
}
.notifDiv{
	float: right;
	margin-top: 20px;
	background: #dfdfdf;
	border-collapse: none;
}
.notifBtn{
	cursor: pointer;
	border: 1px solid rgba(50, 50, 50, 0);
	border-bottom: 0;
	border-radius: 10px 10px 0 0;
	border-collapse: collapse; 
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 8px; 
}
.notifContent{
	border-collapse: collapse; 
	position: absolute;
	display: block;
	background: rgba(0, 0, 0, 0.8);
	margin-left: -340px;
	border: 1px solid rgba(50, 50, 50, 0.4);
	width: 360px;
	overflow: auto;
	max-height: 500px;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
}
.notificationBox{
	border-bottom: 1px solid #000;	
	color: white;
}
.notificationBox:last-child{
	border-bottom: 0;
}
.notificationBox a{
	color: #e66;
}
.notificationBox a:hover{
	color: #eee;
	text-decoration: underline;
}
#gridContainer{
	margin: auto;
	width: 	990px;
	/*height: 600px;
	background: rgba(0,0,0,0.4);*/
	margin-bottom: 30px;
}
.grid{
	width: 320px;		
	float: left;
	padding: 5px;
}