@font-face{
	font-family: "navFont";
	src: url(http://localhost/liberte/gladifilthefte.ttf);
} 
body{
	padding: 0;
	margin: 0;
	background: url('http://localhost/Liberte/layoutImages/gridbg.jpg');
	background-repeat: no-repeat;
	background-size: 990px;
	background-position: 0 260px;
	background-attachment: fixed;
	background: #efefef;
	padding-bottom: 50px;
	font-family: Arial;
}
a{
	text-decoration: none;
	color: black; 
}
input:focus{
	outline: none;
}
#actionBar{
	margin: auto;
	width: 990px;
	height: 70px;
	border-bottom: 2px solid rgba(50, 50, 50, 0.4); 
}
.escreverBtn{
	float: left;
	margin-top: 15px;
} 
#searchBox{
	float: left;
	margin-top: 32px;
	margin-left: 10px;
	height: 30px; 
}
.searchBar{
	transition: 0.6s;
	border: 1px solid #efefef;
	border-radius: 20px 0 0 20px;
	padding: 0;
	width: 0;
	height: 35px;
}
#searchBtn{
	transition: 0.6s;
	float: right;
	height: 31px;
	padding: 2px 8px 0 7px;
	background: white;
	border: 1px solid #777;
	border-radius: 20px;
	cursor: pointer; 
} 
.notifDiv{
	float: right;
	margin-top: 22px;
	background: rgba(0,0,0,0);
	border-collapse: none; 
}
.notifCount{
	font-size: 12px;
	color: white;
	float: right;
	background: #CC333B;
	border-radius: 100%;
	padding: 1px 4px; 
	margin-left: -60px;
	font-weight: bold;
}
span.notifCount[html=""]{
	padding: 0;
}
.notifBtn{
	cursor: pointer;
	border: 1px solid rgba(50, 50, 50, 0);
	border-bottom: 0;
	border-radius: 10px 10px 0 0;
	border-collapse: collapse;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 8px;
}
.notifContent{
	border-collapse: collapse;
	position: absolute;
	display: block;
	background: rgba(0, 0, 0, 0.8);
	margin-left: -340px;
	border: 1px solid rgba(200, 200, 200, 0.5);
	width: 360px;
	overflow: auto;
	max-height: 500px;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
}
.notificationBox{
	border-bottom: 1px solid #000;
	color: white; 
}
.notificationBox:last-child{
	border-bottom: 0;
}
.notificationBox a{
	color: #e66; 
}
.notificationBox a:hover{
	color: #eee;
	text-decoration: underline;
} 
.date{
	margin: 0 0 4px 0; 
}
#gridContainer{
	margin: auto;
	width:  990px;
	margin-bottom: 30px;
} 
.grid{
	width: 320px;
	float: left;
	padding: 5px;
}