#inner-content{
	margin: auto;
	margin-top: 50px;
	width: 80%;
}
#materia-content{
	margin: auto;
	width: 60%;
}
h1, h3{
	text-align: center;
}
#content{
	text-indent: 15px;
}
#interact{
	width: 60%;
	margin: auto;
}
.n{
	vertical-align: super;
	padding: 5px 8px;
	color: white;
}
.aproveDiv{
	background: rgba(0, 0, 0, 0.8);
}
.aprovedDiv{
	background: #88f;
}
.desaproveDiv{
	background: rgba(0, 0, 0, 0.8);
}
.desaprovedDiv{
	background: #a33;
}
.commentInput{
	clear: both;
}
#comments{
	width: 100%;
}
#btnComment{
	margin-bottom: 5px; 
}
.commentContent{
	margin-bottom: 0;
	clear: both;
	margin-top: 20px;
}
.commentBox{
	border: 1px solid rgba(50, 50, 50, 0.4);
	padding: 10px;
}
.replyComment{
	background: #efefef;
	border: 1px solid rgba(50, 50, 50, 0.4);
	border-bottom: 0; 
}
.replyComment:first-child{
	margin-top: 4px;
	border-top: 1px solid rgba(50, 50, 50, 0.4);
}
.replyComment:last-child{
	border-bottom: 1px solid rgba(50, 50, 50, 0.4);
}
.commentDate{
	margin: 0;
	margin-top: 8px;
	font-size: 13px;
	text-align: right;
	float: right;
}
.voteDiv{
	float: left;
	padding: 0;
	height: 30px;
	border-radius: 15px;
}
.btnVote{
	cursor: pointer;
	background-repeat: none;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
.voteCount{
	vertical-align: super;
	padding: 5px 8px;
	color: white;
	border-radius: 100%;
}
.sub{
	float: right;
	color: blue;
	font-size: 13px;
	font-weight: bold;
}
.sub:hover{
	text-decoration: underline;
}
.interactDiv{
	margin-top: 10px;
	height: 30px;
}
.rpComment{
	margin-top: 5px;
	margin-left: 5px;
}